header {
  background: #161415 url(./header.jpg) no-repeat top center;
  background-size: cover !important;
	-webkit-background-size: cover !important;
}

.portfolio-modal {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Only relevant for the pdf, using 8.5 x 11 size scaling*/
.react-pdf__Page__canvas {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 141vw; 
}